.page__title-mine {
    border: 1px solid $border-color;
    padding: 0.5em;
    text-align: center;
    margin-bottom: 1em;
}

.archive__subtitle-mine {
    margin: 0px;
    font-size: $type-size-6;
    // border-bottom: none;
    margin-bottom: 0.5em;
    // padding-bottom: 0px;
    line-height: 1.5;
}

.archive__item-title-mine {
    margin: 0px;
    margin-bottom: 0.5em;
    font-size: $type-size-6;
}
