/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  border-bottom: none;
  background-color: $header-background-color;
  z-index: 0;

  &__inner-wrap {
    padding: 16px;
  }
}
