/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  border-bottom: none;
  background-color: $header-background-color;

  &__inner-wrap {
    padding-top: 8.5px;
    padding-bottom: 8.5px;
  }
}
