.my__frame-header {
  background-color: $frame-header-background-color;
  color: $frame-header-text-color;
  font-size: $type-size-6;
  padding: 2px;
}

.my__frame-header-blurbs {
  background-color: $frame-header-background-color-blurbs;
  color: $frame-header-text-color-blurbs;
}

.side-by-side {
  display: flex;
}

.my__audio {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.blurb__content {
  font-size: $type-size-6;
}
.blurb__content p{
  margin: 0px;
}

.blurb__title {
  color: $blurb-title-color;
  margin-bottom: 0px;
  margin-top: 1em;
  font-size: $type-size-6;
  line-height: 1.5;
}

.my__frame {
  background-color: $frame-background-color;
  color: $text-color;
  margin-bottom: 1em;
  padding: 5px;
}

.my__frame-blurbs {
  padding: 0;
}

.my__blurbs {
  padding: 5px;
  padding-top: 0;
}