/*
     Priority plus navigation
     ========================================================================== */

.greedy-nav {
  background: $header-background-color;

  .visible-links {
    a {
      &:before {
        content: none;
      }
    }
  }
}


.page__meta {
  color: $text-color;
}

.pagination {
  margin: 0;
  padding: 0;
}

.pagination--pager {
  color: $link-color;
  background-color: $frame-background-color;

  &:hover {
    color: $link-color;
    background-color: rgba($frame-background-color, 100%);
  }

  &:visited:hover {
    color: $link-color-visited;
  }
}
