/* ==========================================================================
   STYLE RESETS
   ========================================================================== */

html {
  font-size: 20px;

  @include breakpoint($medium) {
    font-size: 20px;
  }

  @include breakpoint($x-large) {
    font-size: 20px;
  }
}
