.sidebar {
  @include breakpoint($large) {
    width: calc(#{$right-sidebar-width-narrow} - 20px);
    margin-right: 20px;
    opacity: 1;
    // -webkit-transition: opacity 0.2s ease-in-out;
    // transition: opacity 0.2s ease-in-out;

    // &:hover {
    //   opacity: 1;
    // }
  }

  @include breakpoint($x-large) {
    width: calc(#{$right-sidebar-width} - 20px);
    margin-right: 20px;
  }

  > * {
    padding-top: 3px;
    margin-right: 0px;
  }
}

.author__content {
  display: block;
  // vertical-align: top;
  padding-left: 0px;

}

.author__name {
  display: inline;

  @include breakpoint($large) {
    margin-top: 0px;
  }
}
.sidebar .author__name {
  font-family: Arial;
  font-size: 1.1em;
}

.author__avatar {
  flex: 1;
  display: flex;
  align-items: center;
  width: 200px;
  height: auto;
  max-height: 478px;
  padding-top: 5px;
  padding-right: 5px;
      // display: table-cell;
    // vertical-align: top;
    // width: 36px;
    // height: 36px;

  max-width: 200px;  
  margin-right: 20px;
  padding-top: 0px;

  @include breakpoint($large) {
    display: flex;
    // width: auto;
    // height: auto;
  }

  img {
    min-width: 200px;
    max-height: 478px;

    // max-width: 110px;
    border-radius: 0%;

    @include breakpoint($large) {
      padding: 0px;//5px;
      border: none;//1px solid $border-color;
    }
  }
}

.author__bio {
  flex: 1;
  display: flex;
  align-items: center;

  @include breakpoint($large) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}


.author__urls-wrapper {
  position: static;
  display: block;
  // vertical-align: middle;
  // cursor: pointer;
  border: 1px solid $border-color;
  margin-top: 21px;
}

.author__urls {
  display: flex;
  position: static;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
  padding-left: 0px;
  border: none;//1px solid $border-color;
  // border-radius: $border-radius;
  // box-shadow: none;//0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);
    
  // right: 0;
  // list-style-type: none;
  // columns: 2;

  // @include breakpoint($large) {
  //   display: block;
  //   position: relative;
  //   margin: 0;
  //   padding: 0;
  //   border: 0;
  //   background: transparent;
  //   box-shadow: none;
  // }

  // &:before {
  //   display: block;
  //   content: "";
  //   position: absolute;
  //   top: -11px;
  //   left: calc(50% - 10px);
  //   width: 0;
  //   border-style: solid;
  //   border-width: 0 10px 10px;
  //   border-color: $border-color transparent;
  //   z-index: 0;

  //   @include breakpoint($large) {
  //     display: none;
  //   }
  // }

  li {
    flex-basis: 50%;
    height: 23px;
  }
}