.sidebar {
  opacity: 1;

  > * {
    padding-top: 4px;
  }
}

.author__content {
  padding-left: 0px;
}

.author__name {
  display: inline;
}
.sidebar .author__name {
  font-family: Arial;
  font-size: 1.1em;
}

.author__avatar {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 200px;
  height: auto;
  
  img {
    min-width: 200px;
    max-height: 478px;
    border-radius: 0%;

    @include breakpoint($large) {
      padding: 0px;
      border: none;
    }
  }
}

.author__bio {
  display: flex;
  align-items: center;

  @include breakpoint($large) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.author__bio p {
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

.author__urls-wrapper {
  position: static;
  display: block;
  border: 1px solid $border-color;
  margin-top: 21px;
}

.author__urls {
  display: flex;
  position: static;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  border: none;
  box-shadow: none;

  li {
    flex-basis: 50%;
    height: 23px;
  }
}
