<div class="table-section">
  <div class="heading"><h4>{{ author.name }}'s Interests</h4></div>
  <div class="inner">
    <table class ="details-table" cellspacing="3" cellpadding="3">
        <tbody>
            {% for interest in site.mine.interests %}
            <tr>
                <td>
                    <p>{{ interest.label }}</p>
                </td>
                <td>
                    <p>{{ interest.content }}</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>